altair
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
h11
httptools
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mpmath
narwhals
networkx
numpy
opencv-python
packaging
pandas
pillow
polars
protobuf
psutil
pyarrow
pydeck
pyparsing
python-dateutil
python-multipart
PyYAML
referencing
requests
scipy
setuptools
six
smmap
starlette
streamlit
streamlit-drawable-canvas
sympy
tenacity
toml
typing_extensions
ultralytics
urllib3
uvicorn
websockets
